{{!< default}}

<section class="container error-page">
    <span class="error-code">{{statusCode}}</span>
    <h1 class="error-title">{{message}}</h1>
    <a class="back-to-blog" href="{{@site.url}}">&larr; Back to the blog</a>
</section>
